.help {
  max-width: 800px;
  padding: 10px;
  border: 1px solid gray;
  margin: 50px auto 10px;
}

.table-controls {
  max-width: 800px;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.table-controls input, .table-controls button {
  font-size: 20px;
  margin: 5px;
}

.export-container {
  max-width: 800px;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px auto;
}

.export-button {
  border-radius: 2px;
  cursor: pointer;
  background-color: #1a91eb;
  color: white;
  font-size: 14px;
  border: none;
  padding: 11px 25px;
  text-transform: uppercase;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}